html{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

main{
     position: relative;
}

strong{
    font-weight: bold;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-size: 48px;
    font-weight: bold;
    margin: 24px;
    color: rgb(58, 56, 56);
}

h3{
    font-size: 40px;
    color:rgb(58, 56, 56)
}

h4{
    font-size: 24px;
    margin: 24px;
    color: rgb(58, 56, 56);
}

h5{
    font-size: 24%;
    font-family: 'Times New Roman', Times, serif;
}

.banner{
    width: 60%;
}

#empty_div {
    width: 100%;
    height: 64px;
}

/*----------------------------header----------------------------*/
header{
    width: 100%;
    height: 32px;
    padding: 16px 0;
    position: fixed;
    z-index: 100;
    background-color: white;
    border-bottom: solid 1px rgba(128, 128, 128, 0.135);
}
/*-------header logo-------*/
.header_logo{
    padding: 24px;
}

.logo{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    font-family: fantasy;
    text-decoration: none;
}

.logo img{
    float: left;
    margin-left: 24px;
}
/*-------header list-------*/
.header_button{
    float: right;
    line-height: 32px;
    display: flex;
    padding-right: 24px;
}

li{
    display: inline-block;
}

.header_button li a {
    color: black;
    margin-left: 16px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: fantasy;
    transition: border-bottom 150ms 25ms;
}

.header_button li a:hover {
    border-bottom: solid 2px #000000;
    color: black;
    text-decoration-line: none;
}
/*-------header for desktop-------*/
@media only screen and (min-width: 601px) {
    .phone_header{
        display: none;
    }
}
/*-------header for mobile-------*/
@media only screen and (max-width: 600px) {
    .desktop_header{
        display: none;
    }
    .phone_header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header a img{
        transition: border-bottom 150ms 25ms;
        color: black;
        text-decoration-line: none;
    }
    header a img:hover {
        border-bottom: solid 5px #000000;
    }
}


/*----------------------------learn smth----------------------------*/
.learn_part{
    background-color: rgba(128, 128, 128, 0.274);
    display: flex;
    padding: 32px 72px 32px 24px;
    margin-top: 64px;
    height: auto;
    align-items: center;
    width: auto;
    box-sizing: border-box;
}

.learn_part h4{
    font-family: sans-serif;
    font-weight: 400px;
    color:rgb(58, 56, 56);
    font-size: 16px;
    margin-top: 32px;
    line-height: 1.5em;
}

.learn_part > img {
    box-sizing: border-box;
}

.learn_part .learn_content{
    margin-left: 16px;
}

.button{
    background-color:rgb(58, 56, 56);
    color: white;
    padding: 16px;
    width: 60%;
    margin: 24px;
    margin-top: 38px;
    text-align: center;
    font-size: 24px;
    transition: background-color 400ms;
    font-family: sans-serif;

}

.button a{
    display: inline-block;
    width: 100%;
    color: white;
}

.button:hover{
    background-color: rgba(58, 56, 56, 0.623);
}

/*-------learn smth for tablet-------*/
@media only screen and (min-width: 750px) and (max-width: 1110px){
    h2{
        font-size: 32px;
    }
    h4{
        font-size: 18px;
        font-weight: 500;
    }
    .learn_part{
        padding-right: 24px;
    }
    .learn_content{
        justify-content: center;
    }
    .learn_content .button{
        width: 60%;
        margin: 24px auto;
    }
}
/*-------learn smth for mobile-------*/
@media only screen and (min-width: 501px) and (max-width: 850px){
    .learn_part.learn_content{
        padding: 32px 24px;
    }
}

@media only screen and (max-width: 850px){
    .learn_part{
        display: block;
        padding: 0px;
    }
    .banner{
        width: 100%;
        height: auto;
    }
    .learn_part h2{
        margin: 0;
        font-size: 40px;
    }
    .learn_part h4{
        margin: 32px 0 0;
    }
    .learn_part .learn_content{
        margin-left: 0;
    }
    .learn_part .button{
        margin: 24px auto 0;
    }
}
/*----------------------------practising part----------------------------*/
.practising_part{
    background-color: white;
    display: inline-flex;
    padding: 0 8px 0 24px;
    height: auto;
}

#info-banner{
    width: 100%;
}
.left-side{
    display: block;
    width: 60%;
    padding: 32px 0 32px;
}
.left-side-content h3 {
    margin: 34px 0 24px;
}
.left-side-content p {
    line-height: 1.5em;
    font-family: sans-serif;
}
.left-side-content h6{
    margin-top: 34px;
}
.practising_part h3{
    font-weight: bold;
}
.right_side{
    width: 40%;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    border-left: solid 1px rgba(128, 128, 128, 0.315);
    padding-top: 32px;
}
.box{
    display: flex;
    border-left: solid px rgba(128, 128, 128, 0.315);
    border-bottom: solid 1px rgba(128, 128, 128, 0.315);
    margin-bottom: 2px;
}

#bx_2 #bx_3 {
    border-top: solid 1px rgba(128, 128, 128, 0.315);
}
#bx_3{
    border: 0;
}

#bx_1_image{
    padding-top: 0;
}
